<div class="container">
  <div class="row">
    <div class="col-lg-12 p-2 mt-3">
      <h2>Table</h2>
      <div>
          <table class="table">
              <thead>
                <tr class="head">
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of data">
                  <th scope="row" class="fix-cell">{{d.id}}</th>
                  <td>{{d.first}}</td>
                  <td>{{d.last}}</td>
                  <td>{{d.handle}}</td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 p-2 mt-3">
      <button class="btn btn-info" (click)="alertUserFromLocalStorage()">
        Alert user from localstorage
      </button>
    </div>
  </div>
</div>